@charset "UTF-8";

.el-checkbox__inner {
  width: 18px;
  height: 18px;
  color: transparent;
}

// checkbox
.checkbox-views {
  .el-checkbox__inner {
    background: transparent url(../assets/basic/tree-unchecked.png) center no-repeat;
    border-color: transparent;
  }

  .el-checkbox__input.is-checked {
    .el-checkbox__inner::after {
      transform: none;
      display: none;
    }
  }

  .el-checkbox__input.is-checked,
  .is-checked {
    .el-checkbox__inner {
      background: transparent
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABD0lEQVQ4T2NcteoqGwvXpyYGhv9pDAwMggykgfcMDIyz/nzjq2Nct+V4BwPD/3LS9KOrZuxkXLfl2DsyXIJu0nuQQf8pcw1E98AYxMLMxKCnrchw+94zhs9fvqN4hCQXmRioMkhLCjMcOHqJ4eOnb+QZpCgnzmCgq8Rw5fpDsIsw4g1bYKurSDNwcbIzXLhyj+H/fwYGAT5uBjsrHYZXbz4wnDhzE2vcYPWavIwog6GeMsPT528ZLl65z+Bgo8vAyMDAsO/IZYbfv/8QbxBIpbKiBIOupgLDr19/GFhZmRkOHrvC8OHjV5wpBW9gy8uKMchKizDce/CC4dkLULrFDUiKtaFnELUyLZWKEWoVbADme4HTKq0fCwAAAABJRU5ErkJggg==)
        center no-repeat;
      border-color: transparent;
    }
  }
}

.checkbox-add,
.checkbox-edit {
  .el-checkbox__inner {
    background: transparent url($--unchecked-edit) center no-repeat;
    border-color: transparent;
  }

  .el-checkbox__input.is-checked {
    .el-checkbox__inner::after {
      transform: none;
      display: none;
    }
  }

  .el-checkbox__input.is-checked,
  .is-checked {
    .el-checkbox__inner {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFklEQVQ4T2PU1l7FxibF0fSf4X8aAwODIANp4D0jA+OsX89+1DEaum7q+M/wv5w0/aiqGRkYOxkNXDe+I8Ml6Pa+Bxn0nxLXwPQOjEFcnMwM5Vm6DIvW3GW4+/AzikdIclF7pRGDi50UQ0z2IYab9z6RZ1CorwJDVa4ew8Q51xgWrLqDEaxYXZQWrcYgIcbJ0DrpEsPfv/8ZNFX4GRZMsGE4ce41Q0HdKQZssYPVIH93OYb6In2GXQefMbRPucSwZLIdAzMTI0NE1kGGT59/Y41knGEUHaTEUJyuzfDh0y8GHi5WhqTiIwxXbnzAmVLwBnagpxyDl5MMw8pN9xn2HH6ON7mRFGv4TBqcBlEn01KtGKFWwQYA+5N1Yz84AaYAAAAASUVORK5CYII=)
        center no-repeat;
      border-color: transparent;
    }
  }
}

.inline-node {
  display: inline-block;
}

.a-el-checkbox__inner {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($--unchecked) center no-repeat;
  cursor: pointer;
}
.is-indeterminate {
  .a-el-checkbox__inner {
    background: url($--half) center no-repeat;
  }
}

.el-checkbox__input.is-indeterminate {
  .el-checkbox__inner {
    background: url($--half) center no-repeat;
    &:before {
      display: none;
    }
  }
}

.a-el-checkbox__original {
  display: none;
}

.checkbox-views {
  .a-el-checkbox__inner {
    background: transparent url($--unchecked-views) center no-repeat;
  }

  .is-indeterminate {
    .a-el-checkbox__inner {
      background: url($--half) center no-repeat;
    }
  }

  .a-el-checkbox__input.is-checked,
  .is-checked {
    .a-el-checkbox__inner {
      background: transparent url($--checked-views) center no-repeat;
    }
  }
}

.checkbox-add,
.checkbox-edit {
  .a-el-checkbox__inner {
    background: transparent url($--unchecked-edit) center no-repeat;
  }

  .is-indeterminate {
    .a-el-checkbox__inner {
      background: url($--half) center no-repeat;
    }
  }

  .a-el-checkbox__input.is-checked,
  .is-checked {
    .a-el-checkbox__inner {
      background: url($--checked-edit) center no-repeat;
    }
  }
}
