@charset "UTF-8";

// 边距
.mr-10 {
  margin-right: 10px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-30 {
  padding-right: 30px;
}

.pt-24 {
  padding-top: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}
