@charset "UTF-8";

.el-radio__inner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-color: transparent;
  //background: transparent url(../assets/radio/radio-unchecked.png) center no-repeat;
  background: transparent url(../assets/radio/radio-unchecked-edit.png) center no-repeat;
}

.el-radio__input.is-disabled .el-radio__inner {
  border-color: transparent;
  background: transparent url(../assets/radio/radio-unchecked.png) center no-repeat;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner {
  border-color: transparent;
  background: transparent url(../assets/radio/radio-checked-views.png) center no-repeat;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: transparent;
  background: transparent url(../assets/radio/radio-checked-edit.png) center no-repeat;
}

.radio-views {
  .el-radio__inner {
    border-color: transparent;
    background: transparent url(../assets/radio/radio-unchecked.png) center no-repeat;
  }
  .el-radio__input.is-disabled.is-checked {
    .el-radio__inner {
      border-color: transparent;
      background: transparent url(../assets/radio/radio-checked-views.png) center no-repeat;
    }
  }
}

.radio-add,
.radio-edit {
  .el-radio__inner {
    border-color: transparent;
    background: transparent url(../assets/radio/radio-unchecked-edit.png) center no-repeat;
  }
  .el-radio__input.is-disabled.is-checked {
    .el-radio__inner {
      border-color: transparent;
      background: transparent url(../assets/radio/radio-checked-edit.png) center no-repeat;
    }
  }
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  display: none;
}
