@import '@/styles/ui-theme';

.send-wrapper {
  position: relative;

  .el-input__inner {
    letter-spacing: 1px;
  }

  .message-center-form {
    overflow: hidden;
  }

  .send-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 20px;

    .el-input,
    .el-select {
      width: 260px;
    }
  }

  .split-line {
    background-color: $-primary-color;
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .el-form-item {
    display: inline-block;
    margin-right: 20px;
  }

  .el-input__inner {
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: 22px;
  }

  .search-button {
    width: 42px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    background: url($--search-btn) center no-repeat;
    -webkit-background-size: 42px;
    background-size: 42px;
    border-radius: 4px;
    position: absolute;
    top: 2px;
  }

  .refresh-button {
    width: 42px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    background: $-primary-color url($--refresh-btn) center no-repeat;
    border-radius: 4px;
    position: absolute;
    top: 2px;
  }

  .success {
    color: $--color-dark;
  }

  .priority-1 {
    color: $--color-dark;
    .el-input__inner {
      color: $--color-dark;
    }
  }

  .priority-2 {
    color: rgba(255, 173, 60, 1);
    .el-input__inner {
      color: rgba(255, 173, 60, 1);
    }
  }

  .priority-3 {
    color: $--color-danger;
    .el-input__inner {
      color: $--color-danger;
    }
  }

  // .el-table__row:nth-of-type(2n - 1) {
  //   height: 74px;
  // }

  .el-table__row:nth-of-type(2n) {
    background-color: $--bg-main;
  }

  .send-content-account {
    .el-table .cell {
      overflow: visible;
      position: relative;
    }

    .show {
      display: block;
    }

    .hide {
      display: none;
    }

    .current-row {
      .row-wrapper {
        .row-dot {
          background: url($--row-dot-selected) center no-repeat;
          -webkit-background-size: 24px;
          background-size: 24px;
        }
      }
    }

    .row-wrapper {
      width: 24px;

      .row-text,
      .row-message {
        display: inline-block;
      }

      .row-text {
        width: 126px;
        height: 21px;
        overflow: hidden;
        font-size: 14px;
        font-family: 'SourceHanSansCN-Normal, SourceHanSansCN';
        font-weight: 400;
        color: $--color-dark;
        line-height: 21px;
      }

      .row-dot {
        width: 24px;
        height: 42px;
        cursor: pointer;
        background: url($--row-dot) center no-repeat;
        -webkit-background-size: 24px;
        background-size: 24px;
      }

      .send-row-inner {
        display: none;
        position: absolute;
        z-index: 1;
        top: 52px;
        left: 0;
        width: 148px;
        height: auto;
        background: $--bg-light;
        box-shadow: 0 0 20px -3px rgba(16, 25, 74, 0.18);
        border-radius: 6px;
      }
    }

    .el-table__body-wrapper {
      max-height: calc(100vh - 458px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        outline-offset: -1px;
        border-width: 1px;
        border-style: solid;
        outline-width: 2px;
        outline-style: solid;
      }

      &::-webkit-scrollbar-track-piece {
        -webkit-border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(243, 244, 249, 1);
        outline-color: #fff;
        border-color: #fff;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(217, 217, 217, 0.3);
        background-color: #fff;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: #fff;
      }
    }

    .td:last-of-type .cell {
      overflow: hidden;
    }
  }

  .common-button {
    width: 100px;
    height: 42px;
    border-radius: 24px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: $--color-light;
  }

  .danger {
    background-color: rgba(255, 72, 7, 0.4);
  }

  .pink {
    background-color: $--color-pink;
  }

  .el-button:active {
    border-color: transparent;
  }

  // .el-table__row:nth-of-type(2n - 1) {
  //   height: 74px;
  // }
  .el-table__body {
    border-collapse: separate;
    border-spacing: 0 16px;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #eff4ff;
  }

  .el-table__row:nth-of-type(2n) {
    background-color: $--bg-main;
  }
}
